<h1>Ranking#want</h1>
<% @items.each.with_index(1) do |item,i| %>

  <%= "#{i}位" %><br>
  <!-- タイトル -->
  <%= item.title %><br>
  <%= link_to "このアイテムのページ",url_for(item) %>
  <br>
  <!-- 画像 -->
  <%= image_tag(item.medium_image , alt: item.title) %><br>
<hr>
<% end %>